# dependencies
node_modules

# build
dist
.next
coverage
build

# env
.env
.env.*
!.env.example

# logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Prisma
prisma/dev.db
prisma/dev.db-journal

# uploads
public/uploads

# generated
*.tsbuildinfo